<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />    
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:label="FirTube"
		android:icon="@drawable/firtube"
		android:allowBackup="false"
		android:debuggable="false"
		android:requestLegacyExternalStorage="false"
        android:fullBackupContent="false"
		android:extractNativeLibs="false"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

		<activity-alias
		android:name=".TransactionActivityAlias" 
		android:exported="true"
        android:targetActivity=".TransactionActivity">
          <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
        </activity-alias>
		
		<activity
            android:name=".TransactionActivity"
			android:exported="false"
			android:process=":transaction"
			android:launchMode="singleInstance"
			android:screenOrientation="portrait"
			android:excludeFromRecents="true"/>
		
        <activity
            android:name=".SecurityActivity"
			android:exported="false"
			android:process=":security"
			android:launchMode="singleInstance"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysVisible"
			android:excludeFromRecents="true"/>

        <activity android:name=".ZeroActivity"
            android:exported="false"
			android:launchMode="singleInstance"
		    android:screenOrientation="portrait"
			android:excludeFromRecents="true"/>

        <activity android:name=".MainActivity"
            android:exported="false"
            android:launchMode="singleInstance"/>

         <service 
            android:name=".YTService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"/>   
		
    </application>
</manifest>
